.pmcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/bgimage.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ctgycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/category.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  a :hover {
    color:black;
  }
  

  
  button:focus {
    outline: none;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: calc(50% - 60px); /* Adjust the width as needed */
    margin: 30px;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  
@font-face {
    font-family:'Merianda' ;
    src: url("./fonts/Merianda.ttf") format('woff2');
}

.titlesmall{
    font-family: 'Merianda';
    font-size: 30px;
}

.titlemedium{
  font-family: 'Merianda';
  font-size: 35px;
}

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    color: black
  }

  img {
    max-width: 100%;
  }
  

  
  span[role="img"] {
    cursor: pointer;
  }
  

  @media only screen and (max-width: 600px) {
    .card {
      width: 100%; /* Display 1 item per row for mobile screens */
      float: none;
    }
  }